.sidebar {
    width: 260px;
    background-color: #fff;
    padding: 20px 0;
    border-right: 1px solid #f3f4f6;
    overflow-y: auto;
    height: calc(100vh - 150px);
}
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar::-webkit-scrollbar-track {
    background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
}
